#root {
  /* max-width: 1280px; */
  margin: 0;
  z-index: 0;
  padding: 0;
  padding: 0.5rem;
  position: relative;
  /* text-align: center; */
}

.head {
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 900;
  font-size: 18px;
  color: #32cd32;
  letter-spacing: 1px;
}

.read-the-docs {
  color: #888;
}

body {
  padding: 0;
  margin: 0;
}
